root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{js,mjs}]
indent_size = 2

[*.{html,css}]
indent_size = 2

[*.sql]
indent_size = 2

[*.{png,webp,jpg,jpeg,gif,ico}]
insert_final_newline = unset
trim_trailing_whitespace = unset
